venvvenv
venv/
.env
.venv
__pycache__/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.db
backend/database.db
backend/generated_jwt_secret.txt
backend/initial_admin.txt

# Large Datasets and Zips
*.zip
Data/
Enhanced_Dataset/

# Temp Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Results
Results/